<div class="container">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-xs-6 col-sm-4">
        <div class="card">
          <%= cl_image_tag order.image_url, class: "card-img" %>
          <div class="card-content">
            <h1 class="card-title"><%= order.name %></h1>
            <!-- <h1 class="card-title"><%= order.state %></h1> -->
            <!-- <p class="card-text"><%= order.campaign_sku %></p> -->
          </div>
          <div class="card-link">
            <%= form_tag order_payments_path(order) do %>
              <article>
                <label class="amount">
                  <span>値段: <%= humanized_money_with_symbol(order.amount) %></span>
                </label>
              </article>

              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-label="カードで支払う"
                data-name="キャンペーン"
                data-email="<%= current_user.email %>"
                data-description="<%= order.campaign_sku %>"
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto"
                data-currency="<%= order.amount.currency %>"
                data-amount="<%= order.amount_cents %>"
                data-panel-label="{{amount}}のお支払い">
              </script>

            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
