<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="base-img">
        <%= cl_image_tag @organization.org_image, class: "img-siz" %>
      </div>
      <div class="base-info">
        <div class="base-name">
          <%= @organization.name %>
          <% if policy(@organization).update? %>
            <%= link_to "変更 |", edit_organization_path(@organization), class: "" %>
            <%= link_to "削除", organization_path(@organization), class: "", method: :delete, data: { confirm: "削除しますか？" }  %>
            <%= link_to "キャンペーンを作る", new_organization_campaign_path(@organization), class: "" %>
          <% end %>
        </div>
        <div class="base-des">
          <%= @organization.description %>
        </div>
      </div>
    </div>
    <hr>
    <% @organization.campaigns.each do |campaign| %>
      <div class="col-xs-6 col-sm-4">
        <%= link_to campaign_path(campaign) do %>
        <div class="card">
          <%= cl_image_tag(campaign.camp_image, class: "card-img") %>
          <div class="card-content">
            <h1 class="card-title"><%= campaign.name %></h1>
            <p class="card-text"><%= campaign.name %></p>
          </div>
          <div class="card-link">
            <%= link_to "詳しく", organization_campaign_path(campaign), class: "btn btn-orange"  %>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>



